.App {
	padding: 10px 10px; 
}
.App-header {  
	text-align: center;
}
.App-topic {
	border: 1px solid grey;
	margin: 5px 0;
	display: flex;
}
.App-vote-box {
	width: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.App-vote-box a{
	text-decoration: none;
}
.App-content-box{
	flex:1; 
}
.App-form-group{
	display: flex;
	flex-direction: column;
}
.App-form-group *{
	margin: 5px 0;
}
